@import './base.css';


#app {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  overflow: hidden;
}



@media (hover: hover) {
  a:hover:not(.contact-btn) {
    text-decoration: underline;
  }
}

@media (hover: hover) {
  .contact-btn:hover {
    scale: 103%;
  }
}

@media (hover: hover) {
  .linkedinicon {
    scale: 103%;
  }
}

@media (min-width: 1024px) {
  body {
    margin: 0%;
    max-width: 100%;
  }

  #app {
    padding: 0%;
  }
} 
